<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
    </head>
    <body>
       
    <div class="row">
        <div class="menu" style="width: 180px; height: 100vh;">
            <br><br>
            <a href="/"><p>Home</p></a> 
            <a href="/themes"><p>All Themes</p></a> 
            <% if (user) { %> 
            <a href="/themes/new"><p>Add Theme</p></a>
            <a href="/logout">LOG OUT</a>
                <% } else { %>
                <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
                <% } %>
        </div>
        <div class="col">
