<%- include('./partials/header') %>

    <div class="header">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
    </div>
        <br>
        <br>
    
        

    <div class="intro">
        <p> Welcome to the Theme Generator project, where captivating themes are crafted with ease. With just a simple description, Theme Generator offers an expansive array of AI-generated web application styling properties. From fonts to background colors, navigation styles to table decorations, and beyond – the possibilities are limitless. Modify and preview a plethora of styles right on the page, allowing you to effortlessly discover the perfect aesthetic to suit your unique needs. </p>
    </div>


</div>
</div>

    

<%- include('./partials/footer') %>
