<%- include('./partials/header') %>

<div class="content-container">
    <div class="menu text-center marquee" style="  background-color: rgb(33,37,42); width: 50px; height: 100vh;">
        <div>
            <span>Theme Generator 2023 &nbsp&nbsp&nbsp Theme Generator 2023 &nbsp&nbsp&nbsp Theme Generator 2023</span> 
        </div>
    </div>
    
    <main style="margin:0 auto;">
        <div class="header">
            <h1><%= title %></h1>
            <p>Welcome to <span style="color:rgb(133, 226, 2); font-weight: bold;"><%= title %></span></p>
        </div><br><br><br>
        <div class="intro">
            <p> Welcome to the Theme Generator project, where <span style="font-weight: bold">captivating themes are crafted with ease.</span> With just a simple description, Theme Generator offers an expansive array of <span style="font-weight: bold;">AI-generated </span>web application styling properties. From fonts to background colors, navigation styles to table decorations, and beyond – the possibilities are limitless. Modify and preview a plethora of styles right on the page, allowing you to effortlessly discover the perfect aesthetic to suit your unique needs. </p>
        </div>
    </main>
</div>

<%- include('./partials/footer') %>
