* {
  background-color: rgb(255,251,254);
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  border: 2px solid rgb(77, 127, 255);
  background-color: rgb(60, 115, 255);
  border-radius: 20px;
  color: rgb(255, 255, 255);
  transition: .3s;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(250, 250, 243);
  /* border-bottom: 1px solid rgb(137, 137, 137); */
}

nav > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 12px;
}

nav > a:hover:not(.active) {
  box-shadow: 5px 5px rgb(153, 189, 255);
  transition: .3s;
}

.header {
  text-align: center;
  margin-top: 65px;
  font-size: 22px;
}

table {
  margin-top: 50px;
  width: 100%; 
  height: 100px; 
}

th, td {
  padding: 20px; 
  border-bottom: 1px solid black; 
  text-align: center;
}

.new-form {
    display: block;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin-left: -50px;
}

.new-button {
  font-size: 18px;
  margin-left: 70px;
}