/* * {
  background-color: rgb(255, 255, 255);
} */

body {
  padding: 0 15px 0 15px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

a {
  transition: .3s;
  text-align: center;
}

.intro {
  max-width: 450px;
  text-align: justify;
  margin: 0 auto;
}

.tableHeader {
  text-align: center !important;
  background-color: rgb(128, 128, 128);
  color: rgb(255, 255, 255);
  font-weight: bold;  
}

.description li {
  font-size: 20px;
}

.apply-button {
  margin: 10px;
  width: 150px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid rgb(99, 99, 99);
  background-color: rgba(162, 162, 162, 0.288);
  font-weight: bold;
}

.apply-button:hover {
  background-color:rgb(128, 128, 128);
  color: rgb(255, 255, 255);
} 


.generate-button {
  margin: 10px;
  width: 170px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid rgb(99, 99, 99);
  background-color: rgba(162, 162, 162, 0.288);
  font-weight: bold;
}

.generate-button:hover {
  background-color:rgb(128, 128, 128);
  color: rgb(255, 255, 255);
} 

.loading {
  width: 100px;
  height: 100px;
  border: 20px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.menu {
  background-color: rgb(128, 128, 128);
}

.menu p {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 15px 12px 15px 12px;
  margin-bottom: 15px;
  font-size: 25px;
  width: 100%;
  background-color: transparent;
}

.menu p:hover {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: #313131;
  font-weight: 700;
  margin-left: 10px;
  transition: 0.5s;
  border-radius: 10px;
}

.menu a:hover {
  text-decoration: none
}

.header {
  text-align: center;
  margin-top: 65px;
  font-size: 22px;
}

table {
  margin-top: 0px;
  width: 100%; 
  height: 100px; 
}

th, td {
  text-align: center;
}

.new-form {
  display: block;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 20px;
}

.new-input {
  text-align: left;
  font-weight: bold;
}

.new-button {
  margin: 10px;
  width: 150px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid rgb(99, 99, 99);
  background-color: rgba(162, 162, 162, 0.288);
  font-weight: bold;
}

.new-button:hover {
  background-color:rgb(128, 128, 128);
  color: rgb(255, 255, 255);
} 

.delete-button {
  background-color: rgb(249, 66, 66);
  color: rgb(255, 255, 255);
  border: none;
  padding: 2px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.update-button {
  border: none;
  font-size: 20px;
}

authentication
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17px;
}

.nav-auth {
  display: fixed;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10px;
  margin-left: 38px;
  font-weight: bold;
  border-radius: 5px;
}

.login img {
  height: 20px;
}

.styleset-user, .theme-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.styleset-user img, .theme-user img {
  border-radius: 50%;
  height: 40px;
}

hr {
  border: 0;
  height: 1px;
  background: transparent;
  border-top: 1px dotted rgb(51, 51, 51); 
  margin: 10px 0;   
}