<%- include('../partials/header') %>

<div class="header">
    <h1>Add Theme</h1><br><br>
</div>


<div class="row new-form">
<form action="/themes" method="POST">

    <label class="new-input">Theme Name : <br>
        <input type="text" name="theme" pattern="^.{1,40}$" style= "width: 500px; height: 40px; border-radius: 8px;">
    </label><br><br>

    <label class="new-input"> Description : <br>
        <input type="text" name="description" pattern="^.{1,300}$" style= "width: 500px; height: 150px; border-radius: 10px;">
    </label><br><br>

    <button class="new-button" type="submit">Add Theme</button>
</form>
</div>

<%- include('../partials/footer') %>