<%- include('../partials/header') %>

<div class="header">
    <h1>Theme Details</h1><br>
</div>


<ul>
    <li>Theme: <%= themes.theme %></li>
    <li>Description: <%= themes.description %></li>
    <!-- Need to populate the styleset here -->
</ul>
<br>
<label> Select Style : 
    <select name="styleset">
        <option value="">Style ID #1</option>
        <option value="">Style ID #2</option>
        <option value="">Style ID #3</option>
    </select>
</label>

<button type="submit">Apply Style</button> <br><br><br>

<button type="submit">Generate Style</button>

<table>
    <thead>
        <!-- Need to populate the styleset from chatGPT here -->

    </thead>
    <tr>
        <td> Font Color </td>
        <td> Google Font Family </td>
        <td> Main Background Color </td>
        <td> <button class="update-button" type="submit"> 🔄 </button> </td>
        <td> 
             <button class="delete-button" type="submit">X</button>
            </form>
        </td>
    </tr>
</table>


<%- include('../partials/footer') %>